<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Test Asp.net</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roles">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aplicaciones">Aplicación</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/permisos">Permisos por App</a>
        </li>
      
    </ul>
  </div>
</nav>
<div class="container" style="padding-top: 20px;">
  <router-outlet></router-outlet> 
</div>
