
  <h3>Administracion de aplicaciones</h3>
  <br/>
    
      <div >
        <form [formGroup]="formulario" class="form-inline" style="margin-bottom: 20px;" (ngSubmit)="agregar(formulario)"><!---->
          <div class="form-group mb-2">
            <label>Usuario</label>

            
            <select formControlName="UsuarioAppRol.Id_Usuario" class="form-control" (change)="cambio($event,'UsuarioAppRol.Id_Usuario')" >
                <option *ngFor="let item of usuarioLs" [ngValue]="item.Id_Usuario">
                    {{item.Nombres}}
                </option>
            </select>
            <div class="alert" *ngIf="(!formulario.controls['UsuarioAppRol.Id_Usuario'].valid)&&(!formulario.controls['UsuarioAppRol.Id_Usuario'].pristine)">descripción inválida</div>
          </div>
          <div class="form-group mb-2">
              <label>Rol</label>
              <select formControlName="UsuarioAppRol.Id_Roles" class="form-control" >
                  <option *ngFor="let item of rolesLs" [ngValue]="item.Id_Roles">
                      {{item.Descripcion}}
                  </option>
              </select>
              <div class="alert" *ngIf="(!formulario.controls['UsuarioAppRol.Id_Roles'].valid)&&(!formulario.controls['UsuarioAppRol.Id_Roles'].pristine)">descripción inválida</div>
            </div>
            <div class="form-group mb-2">
                <label>Aplicación</label>
                

                <select formControlName="UsuarioAppRol.Id_Aplicacion" class="form-control" >
                    <option *ngFor="let item of appLs" [ngValue]="item.Id_Aplicacion">
                        {{item.Descripcion}}
                    </option>
                </select>


                <div class="alert" *ngIf="(!formulario.controls['UsuarioAppRol.Id_Aplicacion'].valid)&&(!formulario.controls['UsuarioAppRol.Id_Aplicacion'].pristine)">descripción inválida</div>
              </div>
          <div class="form-group mb-2">
            <input type="submit" class="btn btn-primary" style="margin-left: 20px;" value="Guardar" [disabled]="!formulario.valid" >
            <!--   -->
          </div>
          
        </form>
      </div>
  
  
  <ng-template #mensaje let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Mensaje</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>{{mensajeapp}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  
  
  <table  class="table table-dark">
    <thead align="center">
        <tr>
            <th> 
              id
            </th>
            <th> 
              Usuario
            </th>
            <th>
              Roles
            </th>
            <th>
                Aplicacion
            </th>
            <th>
                Acción
            </th>
        </tr>
    </thead>
    <tbody>
     <tr *ngFor = "let item of resTabla;let i = index" [attr.data-index]="i">
         <td> 
           {{item.Id_Aplicacion}}
         </td>           
         <td style="text-align: center"> 
            <select [(ngModel)]="item.Id_Usuario" *ngIf="i!=idEditar" disabled class="form-control" >
                <option *ngFor="let item of usuarioLs" [ngValue]="item.Id_Usuario">
                    {{item.Nombres}}
                </option>
            </select>

            <select [(ngModel)]="item.Id_Usuario" *ngIf="i==idEditar"  class="form-control" >
                <option *ngFor="let item of usuarioLs" [ngValue]="item.Id_Usuario">
                    {{item.Nombres}}
                </option>
            </select>
        </td>
        <td style="text-align: center"> 
            <select [(ngModel)]="item.Id_Roles" *ngIf="i!=idEditar" disabled class="form-control" >
                <option *ngFor="let item of rolesLs" [ngValue]="item.Id_Roles">
                    {{item.Descripcion}}
                </option>
            </select>

            <select [(ngModel)]="item.Id_Roles" *ngIf="i==idEditar" disabled class="form-control" >
                <option *ngFor="let item of rolesLs" [ngValue]="item.Id_Roles">
                    {{item.Descripcion}}
                </option>
            </select>
        </td>

        <td style="text-align: center"> 
            <select [(ngModel)]="item.Id_Aplicacion" *ngIf="i!=idEditar" disabled class="form-control" >
                <option *ngFor="let item of appLs" [ngValue]="item.Id_Aplicacion">
                    {{item.Descripcion}}
                </option>
            </select>

            <select [(ngModel)]="item.Id_Aplicacion" *ngIf="i==idEditar" disabled class="form-control" >
                <option *ngFor="let item of appLs" [ngValue]="item.Id_Aplicacion">
                    {{item.Descripcion}}
                </option>
            </select>
        </td>
        <td style="text-align: center">
          <button type="button" class="btn btn-default" *ngIf="idEditar==i" (click)="editar(item)">Guardar</button>
          <button type="button" class="btn btn-default" *ngIf="idEditar!=i||idEditar==-1" (click)="modoEdit(i)">Editar</button>
          <button type="button" class="btn btn-default" *ngIf="idEditar!=i||idEditar==-1" (click)="borrar(item)" >Borrar</button>
        </td>
    </tr>
    </tbody>
  </table>
  
  
  