
  <h3>Administracion de aplicaciones</h3>
<br/>
  
    <div >
      <form [formGroup]="formulario" class="form-inline" style="margin-bottom: 20px;" (ngSubmit)="agregar(formulario)">
        <div class="form-group mb-2">
          <label>Descripción</label>
          <input type="text" formControlName="aplicaciones.descripcion" maxlength="20" class="form-control" placeholder="Ingrese el descripción" />
          <div class="alert" *ngIf="(!formulario.controls['aplicaciones.descripcion'].valid)&&(!formulario.controls['aplicaciones.descripcion'].pristine)">descripción inválida</div>
        </div>
        <div class="form-group mb-2">
          <input type="submit" class="btn btn-primary" style="margin-left: 20px;" value="Guardar" [disabled]="!formulario.valid" >
          <!--   -->
        </div>
        
      </form>
    </div>


<ng-template #mensaje let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Mensaje</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{mensajeapp}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<table  class="table table-dark">
  <thead align="center">
      <tr>
          <th> 
            id
          </th>
          <th> 
            Descripcion Aplicación
          </th>
          <th>
            Accion
          </th>
      </tr>
  </thead>
  <tbody>
   <tr *ngFor = "let item of resTabla;let i = index" [attr.data-index]="i">
       <td> 
         {{item.Id_Aplicacion}}
       </td>           
       <td style="text-align: center"> 
        <span *ngIf="i!=idEditar">{{item.Descripcion  }}</span>

        
        <input type="text" [(ngModel)]="item.Descripcion" *ngIf="i==idEditar" placeholder="Ingrese Descripcion" >
      </td>
      <td style="text-align: center">
        <button type="button" class="btn btn-default" *ngIf="idEditar==i" (click)="editar(item)">Guardar</button>
        <button type="button" class="btn btn-default" *ngIf="idEditar!=i||idEditar==-1" (click)="modoEdit(i)">Editar</button>
        <button type="button" class="btn btn-default" *ngIf="idEditar!=i||idEditar==-1" (click)="borrar(item)" >Borrar</button>
      </td>
  </tr>
  </tbody>
</table>


